<div class="comment">
  <p><strong>Auteur :</strong> <%= comment.user.first_name %></p>
  <p><%= comment.content %></p>
  <%= link_to "Modifier", edit_gossip_comment_path(@gossip, comment) %>
<%= link_to "Supprimer", gossip_comment_path(@gossip, comment), data: { turbo_method: :delete } %>
</div>

 