<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= asset_path('contacts') %>" class="img-fluid rounded-start" alt="logos réseaux sociaux">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Contacts:</h3>
        <p class="card-text">Retrouvez nous sur Instagram & Facebook: @the_gossip_project</p>
        <p class="card-text">Et par mail: contact@the_gossip_project.com</p>
    </div>
  </div>
</div>
