<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= asset_path('gossip_img') %>" class="img-fluid rounded-start" alt="image de family gossip">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">La team de feu derrière The Gossip Project:</h3>
        <p class="card-text">Manon (merci pour la base du programme!!) et Sabrina !</p>
      </div>
    </div>
  </div>
</div>
